{% extends 'base.html' %}

{% block content %}

<body>
    <main>
        <div>
            <h1>My Projects</h1>
            {% comment %} {% if project|length <= 0 %} {% endcomment %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                        <th>{{ projectlist }}</th>
                    </tr>
                </thead>
                {% for project in object_list %}
                <tb>
                    <tr>
                    <td>
                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                    </tr>
                {%empty%}
                    <p>You are not assigned to any projects</p>
                {% endfor %}
                {% comment %} {% endif %} {% endcomment %}
                </tb>
            </table>
        </div>
    </main>
</body>

{% endblock content %}
