{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        <p>{{ task.name }}</p>
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}">Create a new Task</a></p>
        <table>
            <thead>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Is completed</th>
                {% for task in object_list %}

                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                </tr>
                {%endfor%}
                {% if task.is_completed %}
                        Done
                {% else %}
                        <form method="post" action="{% url 'complete_task' task.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="is_completed" value="True">
                            <button>Complete</button>
                        </form>
                {%endif%}
                <p>You have no tasks</p>
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}